/* ************************* */

/* EVT 2.0 CUSTOM STYLESHEET */

/* ***************************************************************** */

/*                                                                   */

/* Add here your CSS to customize the style of the elements          */

/* If you'll not see any changes, try adding !important to the rule  */

/*                                                                   */

/* For generic TEI elements, use the tagName as class                */

/* e.g. <del/> => .del{ # your style goes here # }                   */

/*                                                                   */

/* ***************************************************************** */
span.Contextual{
    background-color: green;
    font-size: 5px!important;
}
span.Annotations1833{
    background-color: blue;
     font-size: 5px!important;
}
span.Etymological{
    background-color: orange;
    font-size: 5px!important;
    }
span.Intertextual{
    background-color: grey;
    font-size: 5px!important;
    }
span.Textual{
    background-color: yellow;
    font-size: 5px!important;
    }
span.fw[data-type="head"] {
    text-align: center;
    font-variant: small-caps;
    padding: 15px;
}
span.fw[data-type="catch"] {
    text-align: right;
}
span.fw[data-type="sig"] {
    text-align: center;
}
span.PLACENAME {
    font-style:italic;
}
span.NAME {
    font-style:italic;
}
.stage {
    text-align: right;
}
.term {
	background-color: coral;
}

.figDesc {
	display: block;
	border-left: 5px solid #b30000;
	background-color: #ffe6e6;
	padding: 5px 5px 5px 8px;
	margin-bottom: 3%;
	text-align: justify;
	font-size: 95%;
	font-style: italic;
}

span.analogue span.analogue__text span.quote {
	font-style: italic;
}

span.quote sup.iconbis-evt_quote-left,
span.quote sup.iconbis-evt_quote-right {
	display: none;
}
